################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HotelsWebApi/bin/Debug/net6.0
/HotelsWebApi/obj
/.vs
